body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Layer1
{
   background-color: transparent;
   background-image: url(../images/1.jpg);
   background-repeat: repeat;
   background-position: center top;
}
#wb_Form1
{
   background-color: #FFFFFF;
   border: 0px #000000 solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}
#wb_Text59 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text59 div
{
   text-align: center;
}
#wb_Text60 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text60 div
{
   text-align: center;
}
#Editbox13
{
   border: 1px #0078FF solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #FFFFFF;
   color :#696969;
   font-family: "Roboto Cn";
   font-weight: normal;
   font-size: 19px;
   text-align: center;
   vertical-align: middle;
}
#wb_Text12 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text12 div
{
   text-align: center;
}
#callbackCombobox1
{
   border: 1px #0054A6 solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #FFFFFF;
   color: #808080;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
}
#Editbox10
{
   border: 1px #0078FF solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #FFFFFF;
   color :#696969;
   font-family: "Roboto Cn";
   font-weight: normal;
   font-size: 19px;
   text-align: center;
   vertical-align: middle;
}
#wb_Text13 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text13 div
{
   text-align: center;
}
#wb_Text14 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text14 div
{
   text-align: center;
}
#Button1
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   background-color: transparent;
   background-image: url(../images/page1_Button1_bkgrnd.png);
   background-repeat: repeat-x;
   background-position: left top;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   -moz-box-shadow: 1px 1px 2px #808080;
   -webkit-box-shadow: 1px 1px 2px #808080;
   box-shadow: 1px 1px 2px #808080;
}
#Button1:hover
{
   -webkit-transform: rotate(0deg) scale(1.03,1.03);
   -moz-transform: rotate(0deg) scale(1.03,1.03);
   -ms-transform: rotate(0deg) scale(1.03,1.03);
   transform: rotate(0deg) scale(1.03,1.03);
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   -ms-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
